# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

/src

/storage

# Ignore OS system files
.DS_StoreThumbs.db
# Ignore database backups
database/backups/*.sql
vendor/
\.phpunit.result.cache
storage/invoice_pdfs/
